<h1> Welcome to Footbal Banter </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |post|}}
     {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post addPost="addPost"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
